body {
  font-family: 'Passion One', cursive;
}

.btn-primary {
  margin-top:5%;
  width: 20rem;
}

.incomplete-tasks {
  display: none;
}

.completed-tasks {
  display: none;
}

.list-group-item {
  margin-top: 2%;
}

span {
  text-decoration: none;
}

.center {
  margin-left;
}
